extends layout

block content
  include includes/header.pug
  section.search-section.py-4
    .container
      .row.justify-content-md-center
        .con-md-10.col-lg-6
          .card  
            form.main-form(method="POST" action="/" class="bg-light card-body")
              h1.h3 Search user
              .form-group
                input(type="text" name="name" placeholder="Name" class="form-control")
              .form-group
                .row
                  .col
                    input(type="text" name="age-from" placeholder="From" class="form-control")
                  .col
                    input(type="text" name="age-to" placeholder="To" class="form-control")
              .form-group
                select(class="form-control" name="city")
                  each object in data.cities
                    option(value=object.city) #{object.city}
              .form-group
                select(class="form-control" name="position")
                  each object in data.positions
                    option(value=object.position) #{object.position}
              .form-group
                select(class="form-control" name="cluster")
                  each object in data.clusters
                    option(value=object.cluster) #{object.cluster}

              button(type="submit" class="btn btn-warning w-100") Submit
  include includes/result-section.pug