extends layout

block content
  include includes/header.pug
  section.search-section.py-4
    if (badReqForm.length)
      - var name = badReqForm[0].name
      - var surname = badReqForm[0].surname
      - var age = badReqForm[0].age
    .container
      .row.justify-content-md-center
        .con-md-10.col-lg-6
          if empyFields.length
            .alert.alert-danger
              p.mb-0 This fields is required: #{empyFields}
          if complete.length
            .alert.alert-success
              p.mb-0= complete
          .card
            form.main-form(method="POST" action="/users" class="bg-light card-body")
              h1.h3 Add user
              .form-group
                input(type="text" name="name" value=name || "" placeholder="Name" class="form-control")
              .form-group
                input(type="text" name="surname" value=surname || "" placeholder="Surname" class="form-control")
              .form-group
                input(type="number" name="age" value=age || "" placeholder="Age" class="form-control")
              .form-group
                select(class="form-control" name="city")
                  option(value="Kharkiv") Kharkiv
                  option(value="Odessa") Odessa
              .form-group
                select(class="form-control" name="position")
                  option(value="Fron-End") Fron-End
                  option(value="Back-End") Back-End
                  option(value="PM") PM
                  option(value="QA") QA
              .form-group
                select(class="form-control" name="cluster")
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3              

              button(type="submit" class="btn btn-warning w-100") Add